<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="OpenKeys.test" Name="OpenKeys" Manufacturer="RolandSoft" Version="0.0.1">
    <MediaTemplate EmbedCab="yes" />
    <SetDirectory Id="INSTALLFOLDER" Value="[WindowsVolume]openkeys" />
    <File Source="shortcuts.json" />
    <File Source="openkeys.exe" />
  </Package>
</Wix>