<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Id="OpenKeys.test"
		Name="OpenKeys"
		Manufacturer="RolandSoft"
		Version="0.3.2"
		UpgradeCode="ad55082a-c063-4295-8731-19791eab93dc">

		<MediaTemplate EmbedCab="yes" />

		<!-- Upgrade old versions if already installed -->

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<!-- EXE file in ProgramFiles -->

		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="OpenKeys">
				<Component Id="OpenKeysExeComponent" Guid="*">
					<File Id="OpenKeysExe" Source="OpenKeys.exe" />

					<RemoveFile Id="RemoveEXEFile" Name="OpenKeys.exe" On="uninstall" />
					<RemoveFolder Id="RemoveEXEFolder" On="uninstall" />
				</Component>
			</Directory>
		</StandardDirectory>

		<!-- JSON in %APPDATA% -->

		<StandardDirectory Id="AppDataFolder">
			<Directory Id="JSONFOLDER" Name="OpenKeys">
				<Component Id="JSONComponent" Guid="48974f31-bcb2-4309-bc43-0bc1f268fef3">
					<File Id="ShortcutJSON" Source="shortcuts.json" />

					<RemoveFile Id="RemoveJSONFile" Name="shortcuts.json" On="uninstall" />
					<RemoveFolder Id="RemoveJSONFolder" On="uninstall" />

					<RegistryKey Id="AutoStartRegistryKey"
						ForceCreateOnInstall="yes"
						Root="HKCU"
						Key="Software\Microsoft\Windows\CurrentVersion\Run">
						<RegistryValue Name="OpenKeys" KeyPath="yes" Type="string" Value="&quot;[INSTALLFOLDER]OpenKeys.exe&quot;" />
					</RegistryKey>
				</Component>
			</Directory>
		</StandardDirectory>

		<!-- Feature Information -->

		<Feature Id="ProductFeature" Title="OpenKeys" Level="1">
			<ComponentRef Id="OpenKeysExeComponent" />
			<ComponentRef Id="JSONComponent" />
		</Feature>

	</Package>
</Wix>

